.password-container {
  position: relative;
  margin-bottom: 15px;
}

.password-container input {
  padding-right: 40px;
}

.password-container button {
  padding: 12px 20px;
  background-color: #32f905;
  color: white;
  border: 5px solid #0909f6;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  padding: 0;
  transition: color 0.3s;
}

.password-container button:hover {
  color: #0056b3;
}

.password-container button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(17, 237, 5, 0.3) 10%, transparent 50%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
  border-radius: 50%;
  z-index: 0;
}

.password-container button:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
}

.password-container input::placeholder {
  color: #fa0505;
  transition: color 0.3s;
}

.password-container input:hover::placeholder {
  color: #0d09f1; 
}

.password-container p {
  color: rgb(47, 7, 248);
  margin: 5px 0 0;
}
  